

#main-box {
    background-color: lightgray;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    height: 100%;
    cursor: pointer;
}

#main-box img {
    display: block;
    width: 200px;
    height: 100px;
    margin: 10px 0 15px 10px;
    border-radius: 50% 50%;
    cursor: pointer;
}

.mini_boxes {
    border: 2px solid transparent;
}

h1 {
    text-align: center;
    margin: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#display_image {
    width: 200px;
    height: 200px;
}